extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Maria Delacruz

        p Full Stack JavaScript Developer


        .about-bio

          p Passionate about learning and evolving.


      .skills-contact-box.box
        h6 Skills

        ul
          each skill in project.skills
            li= skill


        h6 Contact Info

        ul
          li email@email.com

        //a.btn-link(href='') LinkedIn
        a.btn-link(href='https://github.com/mf-dlcz' target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back